@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 24;
}

.tree {
  position: absolute;
  z-index: 21;
  object-fit: cover;
  top: -150px;
}
.beach {
  position: absolute;
  z-index: 19;
  object-fit: cover;
  top: -90px;
}

.big-title {
  position: absolute;
  z-index: 20;
  color: white;
  width: 100%;
  text-align: center;
  top: 50%;
  font-size: 6vw;
  font-weight: 600;
}

.photo-profile {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 100%;
  z-index: 30;
  object-fit: cover;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  border-color: none;
}

/* navbar */
.navbar {
  padding-right: 10em;
  background-color: transparent;
  height: 50px;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 31;
  justify-content: space-between;
  transition: 0.5s;
}

#brand {
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  margin-left: 10vw;
}

#brand a {
  color: white;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 20px;
  margin-left: 10px;
  font-size: 1.1em;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}
.sticky {
  position: fixed;
  background: rgba(33, 28, 95, 0.192);
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.534);
}

/* navbar */
/* about */

section {
  width: 100%;
  background-color: rgb(231, 231, 243);
  position: relative;
}

.img-profile {
  width: 100%;
}

#about > .container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 19;
  height: 100vh;
}

.profile-bio {
  width: 100%;
}

.profile-bio > h1 {
  margin-bottom: 1.5em;
  font-weight: 600;
  position: relative;
}

.profile-bio > h1 > .border {
  width: 25%;
  height: 3px;
  background-color: black;
  position: absolute;
}

.profile-bio > p {
  text-align: left;
}

.shadow {
  position: absolute;
  bottom: 100%;
  height: 90px;
  width: 100%;
  z-index: 25;
  background: linear-gradient(to top, rgb(231, 231, 243), transparent);
}

.cloud1 {
  position: absolute;
  z-index: 20;
  top: 400px;
  width: 100%;
  object-fit: cover;
}

.cloud2 {
  position: absolute;
  z-index: 18;
  width: 100%;
  top: 400px;
  object-fit: cover;
}

/* about */

/* skill */

#skills {
  padding: 4rem 0;
  position: relative;
  z-index: 19;
  width: 100%;
}

#skills > .container {
  width: 100%;
  background-size: cover;
}

#skills > h1 {
  width: 100%;
  text-align: center;
  position: relative;
  font-size: 4em;
}

#skills > p {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}

.container-skill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  position: relative;
  width: 100%;
  height: 110vh;
  font-size: 12px;
  background-image: url("assets/muntain.png");
  background-size: cover;
  background-attachment: fixed;
}

.container-skill > .col {
  width: 100%;
  margin: 0;
  padding: 5px;
  cursor: pointer;
}

.title-skill {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  width: 100%;
  text-align: center;
  padding: 2vw;
  border-radius: 20px;
}

.title-skill:hover {
  box-shadow: none;
  background: rgb(211, 211, 211);
}

/* frontend skill */
.frontend-skills {
  position: relative;
  width: 100%;
  display: none;
}

.skills-bar {
  padding: 5px 30px;
}

.skills-bar .bar {
  margin: 10px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 600;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #ffffff;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background: #25b79f;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  text-transform: uppercase;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 80%;
}
.progress-line .css {
  width: 70%;
}
.progress-line .bootstrap {
  width: 82%;
}
.progress-line .javascript {
  width: 62%;
}

.progress-line .tailwind {
  width: 70%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #000000;
  border-top-color: #07374a;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  background: #07374a;
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line .html::after {
  content: "85%";
}
.progress-line .css::after {
  content: "70%";
}
.progress-line .bootstrap::after {
  content: "82%";
}
.progress-line .javascript::after {
  content: "62%";
}
.progress-line .tailwind::after {
  content: "70%";
}

/* ui/ux skill */

.uiux-skills {
  display: none;
  position: relative;
  width: 100%;
  margin: 5px 0;
}

.progress-line .figma {
  width: 80%;
}
.progress-line .adobe {
  width: 75%;
}
.progress-line .photoshop {
  width: 60%;
}
.progress-line .coreldraw {
  width: 70%;
}

.progress-line .figma::after {
  content: "80%";
}
.progress-line .adobe::after {
  content: "75%";
}
.progress-line .photoshop::after {
  content: "60%";
}
.progress-line .coreldraw::after {
  content: "70%";
}
/* framework skill */

.framework-skills {
  display: none;
  position: relative;
  width: 100%;
  margin: 5px 0;
}

.progress-line .react::after {
  content: "80%";
}

.progress-line .react {
  width: 70%;
}

/* framework skill */
.open-none {
  display: block;
}

/* skill */

/* ==================qualification================== */

#study {
  width: 100%;
  height: 100vh;
  background-color: rgb(26, 26, 145);
}

.study__title {
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
  color: white;
}

.study__title > h1 {
  font-size: 4em;
}

.container__study {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.container__study::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: rgb(2, 49, 255);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border-radius: 25px;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.534);
}

/* Container around content */
.container__timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */

.container__timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(125, 90, 241);
  border: 4px solid #ffffff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.534);
}

/* qualification */
/* portofolio */


.swiper_container {
  font-size: 14px;
  color: #000;
  margin:auto;
  padding: 0;
  position: relative;
  width: 62em;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
}
.swiper {
  width: 453px;
  height: 400px;
  position: absolute;
  top: 90px;
  right: 15vw;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.container_slide {
  transform: translate(27em, 6em);
  width: 80%;
  text-align: center;
  font-size: 17px;
  position: relative;
  border-radius: 6px;
  padding: 15px;
}

.container_slide > h1 {
  margin-bottom: 10px;
}

.container_slide > button {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background-color: blue;
  color: white;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.534);
  border-radius: 5px;
}
.swiper-slide-active {
  display: block;
}
.portofolio_title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}
.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
  z-index: 1;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
/* portofolio */
/* contact */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


#contact {
  background-color: #015871;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 80px 50px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.534);
}

.contact-links, .contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
}


.contact-links {
  background-color: #7c98c0;
  background:
    radial-gradient(
      circle at 55% 92%, #426691 0 12%, transparent 12.2%
    ), 
    radial-gradient(
      circle at 94% 72%, #426691 0 10%, transparent 10.2%
    ), 
    radial-gradient(
      circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%
    ), 
    radial-gradient(
      circle at 0% 0%, #263a53 0 40%, transparent 40.2%
    ), 
    #8aabda;
  border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
  background-color: #7b7cbd8f;
  border-radius: 0 10px 10px 0;
}

.contact-links > h2 {
  font-family: 'Arimo', sans-serif;
  color: #fff;
  font-size: clamp(30px, 6vw, 60px);
  letter-spacing: 2px;
  text-align: center;
  transform: scale(.95, 1);
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.link {
  margin: 10px;
  cursor: pointer;
}

.link img {
  width: 45px;
  height: 45px;
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #0006);
  transition: 0.2s;
  user-select: none;
}

.link img:hover {
  transform: scale(1.1, 1.1);
}

link img:active {
  transform: scale(1.1, 1.1);
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #222)
    sepia(0.3);
}

.form-item {
  position: relative;
}

label, input, textarea {
  font-family: 'Poppins', sans-serif;
}

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input, textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}

input:focus+label, 
input:valid+label, 
textarea:focus+label, 
textarea:valid+label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all .225s ease;
}

.submit-btn {
  background-color: #fd917e;
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-family: "Poppins",sans-serif;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

@media only screen and (max-width: 800px) {
  h2 {
    font-size: clamp(40px, 10vw, 60px);
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: clamp(30px, 12vw, 60px);
  }
  
  .links {
    padding-top: 30px;
  }
  
  img {
    width: 38px;
    height: 38px;
  }
}

/* contact */
/* responsif */

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
    margin-left: 5vw;
  }

  #hamburger-icon > ul {
    background: rgba(33, 28, 95, 0.568);
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.534);
  }
  .tree {
    top: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: bottom;
  }
  .beach {
    top: 0;
    bottom: 0;
    height: 50em;
    object-position: center;
    object-fit: cover;
  }

  #about > .container {
    grid-template-columns: 1fr;
    align-content: center;
    align-items: center;
  }

  .profile-bio > h1 {
    margin-bottom: 1.5em;
    font-weight: 600;
    position: relative;
    text-align: center;
  }

  .profile-bio > h1 > .border {
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
  }

  .profile-bio > p {
    text-align: left;
    text-align: center;
  }

  .cloud1 {
    top: 35em;
  }

  .cloud2 {
    top: 38em;
  }

  .container-skill {
    grid-template-columns: 1fr;
    padding: 0;
  }

  #skills > .container {
    margin-top: 190px;
  }

  .study__row {
    padding: 0;
  }

  /* timeline */
  /* Place the timelime to the left */
  .container__study::after {
    left: 31px;
  }

  /* Full-width containers */
  .container__timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container_timeline {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .swiper {
    right: 0;
  }

  .swiper_container {
    width: 100%;
  }
  .container_slide {
    transform: translate(0,0);
    height: 100%;
    padding-top: 50px;
    align-items: center;
    width: 100%;
    color: white;
  }

  .swiper {
    width: 400px;
    height: 400px;
  }

  .contact-links, .contact-form-wrapper {
    width: 100%;
  }
  
  .contact-links {
    border-radius: 10px 10px 0 0;
  }
  
  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

/* responsif */
